[submodule "cpputils"]
	path = cpputils
	url = https://github.com/VioletGiraffe/cpputils
[submodule "cpp-template-utils"]
	path = cpp-template-utils
	url = https://github.com/VioletGiraffe/cpp-template-utils
[submodule "libcurl-cpp"]
	path = libcurl-cpp
	url = https://github.com/VioletGiraffe/libcurl-cpp
[submodule "myhtml"]
	path = myhtml
	url = https://github.com/VioletGiraffe/myhtml
[submodule "myhtml-pp"]
	path = myhtml-pp
	url = https://github.com/VioletGiraffe/myhtml-pp
